$utilities: map-merge($utilities, ("font-size": map-merge(map-get($utilities, "font-size"),
        (responsive: true),
      ),
    ));
$utilities: map-merge($utilities, ("color": map-merge(map-get($utilities, "color"),
        (responsive: true),
      ),
    ));
$utilities: map-merge($utilities, ("border": map-merge(map-get($utilities, "border"),
        (responsive: true),
      ),
    ));
$utilities: map-merge($utilities,
    ("rounded-top-left": (property: border-top-left-radius,
        class: rounded-top-left,
        values: (1: $border-radius-xl,
        ),
      ),
      "rounded-bottom-right": (property: border-bottom-right-radius,
        class: rounded-bottom-right,
        values: (1: $border-radius-xl,
        ),
      ),
    ));
