<footer
  class="container-fluid bg-primary-100 px-0 px-lg-2 footer-sm-border-top"
>
  <div class="container">
    <p class="py-4 text-center text-primary-400 footer-lg-border-top">
      ©Vivre 2024 All right Reserved
    </p>
  </div>
</footer>
