.index-title {
  font-size: 100px;
}

.theme-img {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.img-text {
  font-weight: 700;

  @include pc {
    font-weight: 900;
  }
}

.card-border {
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.article-border-bottom {
  border-bottom: 1px solid white;

  @include pad {
    border-bottom: 1px solid #343A40;
  }
}

.read-more-font {
  font-weight: 700;
  font-size: 20px;
  font-family: Newsreader, sans-serif;
}
